<div class="form-container">
  <h2 class="titulo">{{data.titulo}}</h2>
  <form [formGroup]="saldoForm">

    <mat-form-field appearance="fill" style="display: block;">
          <mat-label>Cuenta</mat-label>
          <mat-select formControlName="cuenta" placeholder="Seleccione una cuenta">
            <mat-option *ngFor="let cuenta of data.cuentas" value="{{cuenta.id}}">{{cuenta.cuenta}}</mat-option>
          </mat-select>
    </mat-form-field>
      <p class="description-text error" *ngIf="saldoForm.controls['cuenta'].invalid && saldoForm.controls['cuenta'].touched">
          Seleccione una cuenta </p>

    <mat-form-field appearance="fill" style="display: block;">
      <mat-label>Cantidad</mat-label>
      <span matPrefix>$ &nbsp;</span>
      <input matInput type="number" autocomplete="off" formControlName="cantidad" placeholder="Ingrese cantidad">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>
    <p class="description-text error"
      *ngIf="saldoForm.controls['cantidad'].invalid && saldoForm.controls['cantidad'].touched"> Ingrese un monto mayor a $ 0 </p>

    <mat-form-field appearance="fill" style="display: block;">
      <mat-label>Concepto</mat-label>
      <input matInput type="text" autocomplete="off" formControlName="concepto" placeholder="Ingrese concepto">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>
    <p class="description-text error"
      *ngIf="saldoForm.controls['concepto'].invalid && saldoForm.controls['concepto'].touched"> Ingrese un
      concepto </p>

    <p class="description-text">* El campo es obligatorio</p>
    <div>
      <button mat-raised-button color="warn" class="btn-volver" (click)="onNoClick()">Volver</button>
      <button mat-raised-button color="primary" class="btn-guardar" [disabled]="!saldoForm.valid"
        [mat-dialog-close]="saldoForm.value" (click)="close()">Guardar</button>
    </div>

  </form>
</div>
