<div class="form-container">
  <form [formGroup]="saldoForm">

    <mat-form-field appearance="fill" style="display: block;">
      <mat-label>Seleccione moneda</mat-label>
      <mat-select formControlName="tipoMoneda" >
        <mat-option value="ARS">ARS</mat-option>
        <mat-option value="USD">USD</mat-option>
      </mat-select>
    </mat-form-field>
    <p class="description-text error" *ngIf="saldoForm.controls['tipoMoneda'].invalid && saldoForm.controls['tipoMoneda'].touched"> Seleccione
      una moneda </p>


    <mat-form-field appearance="fill" style="display: block;">
      <mat-label>Ingrese nuevo saldo</mat-label>
      <input matInput type="number" autocomplete="off" value="0" formControlName="cantidad">
    </mat-form-field>
    <p class="description-text error" *ngIf="saldoForm.controls['cantidad'].invalid && saldoForm.controls['cantidad'].touched"> Ingrese un
      saldo mayor a 0 </p>


    <mat-form-field appearance="fill" style="display: block;">
      <mat-label>Ingrese concepto</mat-label>
      <input matInput type="text" autocomplete="off" formControlName="concepto">

    </mat-form-field>
    <p class="description-text error" *ngIf="saldoForm.controls['concepto'].invalid && saldoForm.controls['concepto'].touched"> Ingrese un
      concepto </p>

    <p class="description-text">* El campo es obligatorio</p>
    <div>
      <button mat-raised-button color="warn" class="btn-volver" (click)="close()">Volver</button>
      <button mat-raised-button color="primary" class="btn-guardar" [disabled]="!saldoForm.valid">Guardar</button>
    </div>

  </form>
</div>
