<header>
  <mat-toolbar class="contenedor">
    <mat-form-field class="search-container">
      <input matInput placeholder="Search" />
    </mat-form-field>
    <div class="aside">
      <button mat-raised-button>
        <mat-icon>notifications_none</mat-icon>
      </button>
      <img src=".\assets\imgs\profile.jpeg" alt="profile image" />
      <button mat-raised-button [mat-menu-trigger-for]="menu">
        John Doe
      </button>
      <mat-icon>arrow_down</mat-icon>
    </div>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/perfil-detail" routerLinkActive="active">
        Perfil
      </button>
      <button (click)="logout()" mat-menu-item routerLink="/auth/login" routerLinkActive="active">
        Logout
      </button>
    </mat-menu>
  </mat-toolbar>
</header>