<header>
  <mat-toolbar class="contenedor">
    <div class="subcontenedor">
      <button mat-icon-button (click)="this.snavChange.emit(true)" class="menu" ><mat-icon>menu</mat-icon></button>
      <div class="main">
        <img src="../../../../assets/imgs/alkybankLogo.svg" alt="AlkyBank" />
      </div>
    </div>

    <div class="subcontenedor">
      <div class="aside">
        <div class="img">
          {{(user.first_name||'').charAt(0).toUpperCase()}}{{(user.last_name||'').charAt(0).toUpperCase()}}
        </div>
        <button mat-raised-button 
          [mat-menu-trigger-for]="menu" 
          #menuTrigger="matMenuTrigger" 
          (menuOpened)="menuState(menuTrigger.menuOpen)" 
          (menuClosed)="menuState(menuTrigger.menuClosed.closed)" >
          {{user.first_name}} {{user.last_name}}
          <mat-icon [ngStyle]="{'transform': isMenuOpen ? 'rotate(180deg)':'rotate(0)'}">keyboard_arrow_down</mat-icon>
        </button>
      </div>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/perfil-detail" routerLinkActive="active">
          Perfil
        </button>
        <button (click)="logout()" mat-menu-item routerLink="/auth/login" routerLinkActive="active">
          Cerrar sesión
        </button>
      </mat-menu>
    </div>
    
  </mat-toolbar>
</header>