* {
  z-index: 10;
  box-sizing: border-box;
}

.spacer {
  flex: 1 1 auto;
}

.contenedor {
  padding: 15px 20px;
  margin: 0;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  align-items: center;

  .subcontenedor {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;
  }

  .menu {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    .mat-icon {
      font-size: 30px;
    }
  }

  .main {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    img {
      height: 20px;
    }
  }
}

.search-container {
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;

  ::ng-deep .mat-form-field-wrapper {
    padding: 0 !important;
  }

  ::ng-deep .mat-form-field-underline {
    display: none !important;
  }

  ::ng-deep .mat-form-field-infix {
    border: none !important;
  }
}


.aside {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.aside img {
  height: 2.5rem;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}

.mat-raised-button {
  width: auto;
  height: 2.5rem;
  text-align: center;

  mat-icon {
    transition: all 0.3s ease-in-out;
  }
}



@media screen and (max-width: 1200px) {

  .search-container {
    display: none;
  }

  .aside {
    display: flex;
  }
}

@media screen and (max-width: 780px) {

  .search-container {
    display: none;
  }

  .aside {
    display: flex;
  }

}

@media screen and (max-width: 600px) {

  .search-container {
    display: none;
  }

  .aside {
    display: none;
  }
}