<mat-card class="card">

  <h1>Saldos</h1>
  <mat-divider class="divider"></mat-divider>


  <button mat-raised-button color="primary" (click)="addSaldo()" class="agregar-button">Agregar</button>

  <h1>Lista de saldos</h1>
  <mat-divider class="divider"></mat-divider>

  <div class="loader">

<ew-loader *ngIf="!(saldos$| async)"></ew-loader>

  </div>

  <div *ngIf="(saldos$| async)?.length > 0; else loading" class="saldos-list-subcontainer">
          <mat-card class="card-saldos" *ngFor="let saldo of saldos$|async">
            <mat-card-content>
              <h2 class="card-subtitle">Concepto</h2>
              <mat-divider class="divider"></mat-divider>
              <h3 class="card-item">{{saldo.concept}}</h3>
              <h2 class="card-subtitle">Cantidad</h2>
              <mat-divider class="divider"></mat-divider>
              <h3 class="card-item">{{saldo.amount |currency}} </h3>
              <button mat-raised-button color="primary"
              (click)="editSaldo(saldo.amount, saldo.concept, saldo.id, saldo.date, saldo.accountId)">Editar</button>
            </mat-card-content>
          </mat-card>

  </div>

  <ng-template #loading >
    <p class="no-saldo">No tienes saldos, puedes agregar uno</p>
  </ng-template>

</mat-card>


