.card-container{
  margin: 8px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.saldos-list{
  text-align: center;
  margin-top: 40px;
}
.saldos-list-container{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-bottom: 60px;
}
.saldos-list-subcontainer{

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.card-saldos{
  display: block;
  width: 200px;
  margin: 10px;
}
.card-subtitle{
  font-weight: 400;
  font-size: larger;
  margin: 0;
}

.divider{
  margin: 0;
}

.card-item{
  margin-top: 5px;
  font-weight: 500;
  color: rgb(55, 55, 55);
}
