<mat-card class="container">
  <form [formGroup]="form">


    <mat-form-field appearance="fill">

      <mat-label>Select Moneda</mat-label>

      <mat-select [(ngModel)]="seleccionada" [ngModelOptions]="{standalone:true}" name="Monedas">

        <mat-option *ngFor="let moneda of Monedas" [value]="moneda.value">

          {{moneda.viewValue}}

        </mat-option>

      </mat-select>

    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Importe</mat-label>
      <input matInput type="number" [formControl]="importe">
    </mat-form-field>


    <mat-form-field appearance="fill">
      <mat-label>Total</mat-label>
      <input matInput type="number" [formControl]="resultado" >
    </mat-form-field>
    <mat-card-actions>
      <button mat-raised-button color="primary"(click)="onSubmit()">Convertir</button>
      <button mat-button  color="primary"(click)="limpiar()"> Limpiar</button>

    </mat-card-actions>
    
  </form>

</mat-card>

<mat-card class="container">

  <mat-card-subtitle>
    <p>{{exchange?.last_update| date: 'medium'}}</p>
  </mat-card-subtitle>
  <mat-card-title>
    <h1>USD</h1>
  </mat-card-title>

  <mat-divider></mat-divider>
  <mat-card-subtitle>
    <p>Compra</p>
    <p>Venta</p>
  </mat-card-subtitle>

  <mat-card-content>
    <div>
      <p>
        {{exchange?.blue?.value_sell|number:'1.2'}}</p>
    </div>
    <div>
      <p>
        {{exchange?.blue?.value_buy |number:'1.2'}}</p>
    </div>
  </mat-card-content>

  <mat-card-title>
    <h1>ARS</h1>
  </mat-card-title>
  <mat-divider></mat-divider>

  <mat-card-subtitle>
    <p>Compra</p>
    <p>Venta</p>
  </mat-card-subtitle>

  <mat-card-content>
    <div>
      <p>
        {{(1/exchange?.blue?.value_sell)|number:'1.0-4' }}</p>
    </div>
    <div>
      <p>
        {{1/exchange?.blue?.value_buy |number:'1.0-4'}}</p>
    </div>
  </mat-card-content>

</mat-card>
