<mat-card class="balance-info-container">
  <mat-card-content>
    <div class="money">
      <h2>Cuenta en {{index === 0 ? 'Pesos' : 'Dolares'}}</h2>
      <p class="blue">{{index === 0 ? 'ARS' : 'USD'}}$ {{accountStatus && accountStatus.money}}</p>
    </div>
    <div class="others">
      <div>
        <p class="blue">ID:</p> 
        <p>{{accountStatus && accountStatus.id}}</p>
      </div>
      <div>
        <p class="blue">Está bloqueada:</p> 
        <p> {{accountStatus && accountStatus.isBlocked ? 'Si' : 'No'}}</p>
      </div>
    </div>
  </mat-card-content>
  <mat-card-footer>Fecha creación: {{accountStatus && setDate(accountStatus.creationDate)}}</mat-card-footer>
</mat-card>
