<mat-card class="table-container">
  <mat-card-title class="title">{{title}}</mat-card-title>
  <mat-divider></mat-divider>
  
  <mat-card-content  class="table-subcontainer" >
    <table mat-table color="accent" [dataSource]="dataSource" *ngIf="list && list.length > 0; else emptyList" matSort (matSortChange)="sortData($event)">
      
      <ul>
        <li *ngFor="let item of columns; let i = index" >
          <ng-container [matColumnDef]="item">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="column-label"> {{columnsHeader[i] || item}} </th>
            <td mat-cell *matCellDef="let row" class="rowsText"> {{row[item.toLowerCase()]}} </td>
          </ng-container>
        </li>
      </ul>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
    
    <ng-template #emptyList>
        <div *ngIf="loading; else noList" class="table-spinner">
          <mat-spinner color="primary"></mat-spinner>
          <h2 color="primary">Loading...</h2>
        </div>
        <ng-template #noList>
            <h2>{{optional}}</h2>
        </ng-template>
    </ng-template>
  </mat-card-content>

  <mat-paginator [length]="5" [pageSizeOptions]="pageSizeOptions || [5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</mat-card>

