<mat-card class="balances-container">
  
  <mat-card-title>
    <h1>Balances</h1>
  </mat-card-title>
  <mat-divider></mat-divider>
  <ew-chart origin="balances"></ew-chart>
  <mat-divider></mat-divider>

  <mat-card-content>
    <ew-loader *ngIf="accountStatus.length === 0;else showBalance;" ></ew-loader>
    <ng-template #showBalance>
      <ul class="account-list">
        <li *ngFor="let item of accountStatus; index as i;" >
          <ew-balance-info [accountStatus]="item" [index]="i">
          </ew-balance-info>
        </li>
      </ul>
    </ng-template>
  </mat-card-content>
</mat-card>


