<header class="login-header">
  <img src="../../../../assets/imgs/alkybankLogo.svg" alt="AlkyBank" />
  <div class="options">
    <button mat-button color="primary" routerLink="">
      Home
    </button>
    <hr />
    <button mat-button color="primary" routerLink="login">
      Log in
    </button>
    <hr />
    <button mat-button color="primary" routerLink="register">
      Register
    </button>
  </div>
  <button mat-icon-button class="mobile-menu" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu" class="mobile-menu">
    <button mat-menu-item color="primary" routerLink="">
      <span>Home</span>
    </button>
    <button mat-menu-item color="primary" routerLink="login">
      <span>Log in</span>
    </button>
    <button mat-menu-item color="primary" routerLink="register">
      <span>Register</span>
    </button>
  </mat-menu>
</header>
<router-outlet ></router-outlet>