.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 300px;
  background-color: #58c1f5;
  overflow: hidden;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.header {
  border-bottom: 1px solid #ccc;
  background-color: #fff;
}

.mat-nav-list {
  padding: 3rem 0;
  margin-right: 1rem;
}

.mat-list-item {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0 2rem;
}
.mat-icon {
  margin-right: 0.5rem;
  margin-left: 1rem;
}

.active {
  border-left: 8px solid #fff;
}
