.filter-container {
    display: flex;
    align-items: center;

    .filter-title {
        padding-right: 5vw;
    }
    .filter-input {
        width: 55vw;
        align-items: center;
    }
    .search-icon {
        font-size: 1rem;
        display: inline-flex;
        vertical-align: top;
        padding-right: 0.5rem;
    }
}