<footer>
  <mat-toolbar class="footer" color="primary">
      <div class="logo-container">
        <img src="../../../../assets/imgs/alkemyLogoWhite.svg"  alt="AlkyBank" class="icon">
        <a href="https://www.alkemy.org/" target="_blank" style="color: black;">AlkyBank</a>
      </div>

    <span class="example-spacer"></span>

    <div class="social-container">
      <a class="social-subcontainer" href="https://www.instagram.com/alkemy__/?hl=es"  target="_blank">
        <img src="https://img.icons8.com/material/512/instagram-new.png" taget alt="Instagram" class="icon">
        <p class="social-text" >Instagram</p>
      </a>
      <a class="social-subcontainer" href="https://www.facebook.com/AlkemyLATAM/"  target="_blank">
        <img src="https://img.icons8.com/material/512/facebook-new.png" alt="Facebook" class="icon">
        <p class="social-text">Facebook</p>
      </a>
      <a class="social-subcontainer" href="https://twitter.com/alkemy__"  target="_blank">
        <img src="https://img.icons8.com/material/512/twitter--v2.png" alt="Twitter" class="icon">
        <p class="social-text" >Twitter</p>
      </a>
    </div>

  </mat-toolbar>
</footer>
