<footer>
  <mat-toolbar class="footer" color="primary">
    <div class="footer-container">
      <div class="logo-container">
        <img class="texto" src="../../../../assets/imgs/logo alk.png" alt="AlkyBank" class="icon">
        <p class="logo-text" > <a href="http://www.google.com" target="_blank" style="color: black;">AlkyBank</a> </p>
      </div>
    </div>

    <span class="example-spacer"></span>

    <div class="social-container">
      <div class="social-subcontainer">
        <img src="https://img.icons8.com/material/512/instagram-new.png" alt="Instagram" class="icon">
        <p class="social-text" >Instagram</p>
      </div>
      <div class="social-subcontainer">
        <img src="https://img.icons8.com/material/512/facebook-new.png" alt="Facebook" class="icon">
        <p class="social-text">Facebook</p>
      </div>
      <div class="social-subcontainer">
        <img src="https://img.icons8.com/material/512/twitter--v2.png" alt="Twitter" class="icon">
        <p class="social-text" >Twitter</p>
      </div>
    </div>

  </mat-toolbar>
</footer>
