.gastos-container {
  margin: 20px;

  .mat-card-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;

    h1 {
      margin: 0;
    }
  }

  .mat-card-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 45px;
    gap: 10px;
    margin: 0;
    padding: 0;

    button {
      height: 100%;
      color: white;
    }

  }

  .mat-button-toggle-group {
    height: 100%;
    gap: 2px;
  }

  .mat-button-toggle {
    height: 100%;
    font-size: 15px;
    font-weight: 400;
  }

  .mat-card-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}