.gastos-container {
  margin: 20px;

  .mat-card-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;

    h1 {
      margin: 0;
    }
  }

  .mat-card-actions {
    gap: 10px;
    margin: 0;

    button {
      color: white;
    }

  }

  .mat-button-toggle-group {
    gap: 2px;
  }

  .mat-button-toggle {
    font-size: 20px;
    font-weight: 400;
  }
}