@use "@angular/material" as mat;

@include mat.core();
$e-wallet-primary: mat.define-palette(mat.$light-blue-palette, 300);
$e-wallet-accent: mat.define-palette(mat.$teal-palette, A200, A400, A700);

$e-wallet-warn: mat.define-palette(mat.$red-palette);
$e-wallet-theme: mat.define-light-theme(
  (
    color: (
      primary: $e-wallet-primary,
      accent: $e-wallet-accent,
      warn: $e-wallet-warn,
    ),
  )
);
@include mat.all-component-themes(
  $e-wallet-theme
); /* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
